/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Feb 10, 2022, 1:52:34 AM
    Author     : Vivi
*/
h1 {
    text-align:center;
    font-family: garamond;
    color: #0a1702;
}
h2 {
    text-align: center;
    font-family: georgia;
    color: #0a1702;
    text-decoration: bold;
}
html, body {
    height: 100%;
    margin: 0;
    background-color: #e6e2d3;
}
.cover {
    position: relative;
    width: 100%;
    height: 800px;
}
.container {
    position: relative;
    text-align: center;
    text-decoration: none;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: Georgia;
    color: rgba(234,240,246,0.8);
    font-size: 300%;
    text-decoration: none;
}
.book{
    border: 1px white;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    font-family: Georgia;
}
.book li{
    display:inline;
}
.book a{
    display:inline-block;
    padding:10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    background-color: #15261a;
}
.book a:hover {
    background-color: #648f51;
    color: white;
}
.book a.active {
    background-color: #648f51;
    color: white;
}
.infobox {
    background-color: #648f51;
    border: 10px solid #648f51;
    border-width:7px #648f51;
    list-style:none;
    margin:0;
    padding:0;
    text-align:left;
    color: white;
    font-family: Garamond;
    font-weight: none;
}
.infobox li {
    display:inline;
}
.infobox a {
    display:inline-block;
    padding:5px;
    color: white;
    text-decoration: none;
    font-size: 5px;
}
.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    font-family: Georgia;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
    color: black;
    text-decoration: none;
    font-size: 14px;
}
.nav a:hover {
    background-color: #648f51;
    color: white;
}
.nav a.active {
    background-color: #648f51;
    color: white;
}
.column {
    float: left;
    width: 20%;
    text-align: center;
    font-family: Georgia;
    font-weight: bold;
    font-size: 150%;
}
.column2 {
    float: left;
    width: 20%;
    text-align: center;
    font-family: garamond;
    font-size: 100%;
    line-height: 1.5;
}
.column3 {
    float: left;
    width: 20%;
}
@media screen and (max-width:600px) {
    .column {
        width:100%;
    }
}
@media screen and (max-width:600px) {
    .column2 {
        width:100%;
    }
}
@media screen and (max-width:600px) {
    .column3 {
        width:100%;
    }
}
.backgr {
    background-color: green;
    text-align: center;
    font-family: garamond;
    font-size: 300%;
}
.cover2 {
    width:98%;
    height:350px;
    text-align: center;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
table, th, td {
    border: 0px;
    margin-left: -40px;
    font-family: garamond;
}
.hey {
    margin: 20%;
    background-color: blue;
    float: left;
    width: 20%;
}
.mainbuttons{
    border: 1px white;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    font-family: Georgia;
}
.mainbuttons li{
    display:inline;
}
.mainbuttons a{
    display:inline-block;
    padding:10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    background-color: #415e49;
}
.mainbuttons a:hover {
    background-color: #648f51;
    color: white;
}
.mainbuttons a.active {
    background-color: #648f51;
    color: white;
}
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #648f51;
    color: white;
    text-align: center;
}
.choose {
    text-align: center;
    font-size: 400%;
    font-family: brush script mt;
    text-decoration: bold;
    color: #031f0b
}
.choose2 {
    text-align: center;
    font-size: 80%;
    font-family: verdana;
    color: black;
}
.story {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-size: 14pt;
    font-family: garamond;
    color: #0c2e15;
    line-height: 1.5;
}
.smargin {
    margin-left: 20%;
    margin-right: 20%;
}
.service {
    font-family: g;
}
.scol {
    float: left;
    width: 20%;
}
.scol2 {
    float: left;
    width: 40%;
}
.alightleft {
    margin-left:10%;
    float: left;
}
.alignright {
    margin-right:10%;
    float: right;
}
h5 {
    font-family: garamond;
    font-size: 16pt;
    text-align: left;
}
.hi {
    margin-right:10%;
    margin-left:10%;
    font-family: garamond;
    font-size: 16pt;
    text-align: left;
    color: #0a1702;

}
.hi2 {
    margin-left:10%;
    margin-right:10%;
    font-family: garamond;
    font-size: 16pt;
    text-align: left;
    color: #0a1702;
}
h4 {
    font-size: 24pt;
    text-align: center;
    color: #0a1702;
}
@media screen and (max-width:600px) {
    .scol {
        width:100%;
    }
}
@media screen and (max-width:600px) {
    .scol2 {
        width:100%;
    }
}
#myBtn {
    width: 100%;
    border: none;
    outline: none;
    background-color: #15261a;
    color: white;
    cursor: pointer;
    padding: 15px;
    font-size: 18px;
    font-family: georgia;
}
#myBtn:hover {
    background-color:#7ba686;
    color: black;
}

#bookButton {
    position: fixed;
    right: 0px;
    border: none;
    outline: none;
    background-color: #15261a;
    color: white;
    cursor: pointer;
    padding: 15px;
    font-size: 18px;
    font-family: georgia;
}
#bookButton:hover {
    background-color:#7ba686;
    color: black;
}
#bookingButton:hover {
    background-color:#7ba686;
    color: black;
}
#bookingButton {
    border: none;
    outline: none;
    background-color: #15261a;
    color: white;
    cursor: pointer;
    padding: 15px;
    font-size: 18px;
    font-family: georgia;
}
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
.formDirection {
    font-family: verdana;
    font-size: 10pt;
    text-align: center;
}
.centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.bookingDiv {
    border-style: solid;
    border: 2pt solid;
    padding: 85px;
    margin-left: 30%;
    margin-right: 30%;
    font-family: verdana;
    font-size: 10pt;
}
.contactColumn {
    float: left;
    width: 20%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.contactContainer {
    padding: 0 16px;
}

.contactContainer::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.contactTitle {
    color: grey;
}

.callButton {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.callButton:hover {
    background-color: #555;
}

* {
    box-sizing: border-box;
}


